body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.hover {
  background-color: papayawhip;
  width: 300px;
  height: 150px;
  border-style: dashed;
  border-color: chocolate;
}
