body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.hover {
  background-color: papayawhip;
  width: 80%;
  border-style: dashed;
  border-color: chocolate;
  z-index: 1;
  display: inline-block;
  position: relative;
}

.trigger {
  font-size: 0.8em;
  background-color: #44b39d;
  color: white;
  width: 200px;
}

.quote {
  padding: 15px 25px;
}

.hover > p {
  opacity: 1;
  z-index: 2;
  position: relative;
  text-align: left;
}
